<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Meus Projetos</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list *ngIf="lista_projetos.length > 0">
    <ion-item-sliding *ngFor="let projeto of lista_projetos">
      
      <ion-item lines="full" detail="true">
        <ion-thumbnail slot="start">
          <div *ngIf="!projeto.imagem_capa" style="width: 100%; height: 100%; background: #eee; display: flex; align-items: center; justify-content: center;">
            <ion-icon name="folder-open-outline" style="font-size: 24px; color: #666;"></ion-icon>
          </div>
          <img *ngIf="projeto.imagem_capa" [src]="projeto.imagem_capa" />
        </ion-thumbnail>
        <ion-label>
          <h2>{{ projeto.nome }}</h2>
          <p>{{ projeto.descricao || 'Sem descrição' }}</p>
        </ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="warning" (click)="editar(projeto)">
          <ion-icon name="pencil-outline" slot="icon-only"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" (click)="confirmarExclusao(projeto.id)">
          <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>

  <div *ngIf="lista_projetos.length === 0" class="ion-text-center ion-padding" style="margin-top: 50px;">
    <ion-icon name="folder-open-outline" style="font-size: 64px; color: #ccc;"></ion-icon>
    <p>Nenhum projeto encontrado.</p>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="novoProjeto()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>