@import "@ionic/angular/css/core.css";

@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";

.bg-auth {
    --background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
}

.auth-card {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    background: #ffffff;
    overflow: hidden;
    padding: 10px;
}


.input-custom {
    --background: #f8f9fa;
    --padding-start: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    border: 1px solid #e0e0e0;
}

.btn-primary {
    --border-radius: 50px;
    font-weight: bold;
    height: 50px;
    margin-top: 20px;
    --box-shadow: 0 4px 10px rgba(102, 126, 234, 0.4);
}